.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__search {
    border: 1px solid black;
    display: flex;
    align-items: center;
    /* background-color: rgb(77, 77, 131); */
    height: 40px;
    padding: 10px;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    background-color: white;
}


/* Take every child from sidebar__searchContainer and get rid of the border and move it a bit to the right */


/* Target the input in sidebar_searchContainer*/

.sidebar__searchContainer>input {
    border: none;
    margin-left: 10px;
}


/* Target the ICONS  */

.sidebar__searchContainer>.MuiSvgIcon-root {
    color: gray;
}

.sidebar__header {
    border: 1px solid black;
    /* background-color: rgb(57, 57, 99); */
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-right: 1px solid lightgray;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10vw;
    color: blue;
}

.sidebar__chats {
    flex: 1;
    background-color: rgb(255, 255, 255);
    /* overflow: scroll; */
}


/* .adjust {
    padding-left: 15px;
} */